.info-item__title {
  color: $section-info-color;
  font-family: $roboto-fonts;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 38.4px;
}

.info-item__paragraph {
  color: $section-info-color;
  font-family: $roboto-fonts;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30.6px;
  letter-spacing: 0.18px;
}

.info-item-wrapper__paragraph {
  color: $section-info-color;
  font-family: $roboto-fonts;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.9px;
  letter-spacing: 0.17px;
}