// ------------fonts------------ //

$roboto-fonts: 'Roboto', sans-serif;

// ------------color------------ //

$header-button: #2C313A;
$white-color: #FFF;
$section-info-color: #252B3B;
$section-people-name-and-job-color: #262C3B;
$cards-personal-color: rgba(38, 44, 59, 0.50);
$cards-business-color: rgba(255, 255, 255, 0.50);
$background-button-color: #965CFF;
$footer-link-color: #985CFF; 
$footer-text-color: #545454;